.telo{
    margin-left: auto;
    margin-right: auto;
    height: 1330px;
    max-width: 1200px;
    background-color: white;
}
body {
    background-image: url(https://media.moddb.com/images/mods/1/16/15168/Khorinis_OrlansTaverne.png);
    background-repeat: no-repeat;
    background-color: #333333;
    background-attachment:fixed;
    background-size: 100%;
}
.Grazd{
    margin-left: 10px;
    margin-right: 10px;
}
.Grazd img{
    width: 386px;
    float: right;
}
h2{
    font-size: 40px;
    font-family: 'Gotham-Bold';
    margin-bottom: 5px;
}