.steam{
    background-image: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/991980/fb35c9934621215738372c5ae8689fe37ecd9d6d.jpg' );
}
.ramka{
    position: absolute;
}
.steam2{
    display: flex;
    position: relative;
    width: auto;
    background: linear-gradient(135deg, #33333390, #74254a70);
}
.steam2>img{
    padding: 20px;
}
h2 , h5{
    color: #fff;
    font-family: 'Gotham-Bold';
}
.to_steam{
    margin-top: 90px;
    height: 30px;
    width: 140px;
    background-color: #5c5c5c;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #000;
    font-family: RotisSansSerif;
}
.to_steam:hover{
    background-color: #808080;
}
.coub{
    position: relative;
    display: flex;
    width: auto;
    background-color: #333333;
    overflow: hidden;
    height: 270px;
    align-items: center;
}
.coub video{
    height: 675px;
    width: 1200px;
    position: absolute;
    top: -100px;
}
.coub img{
    z-index: 2;
    height: 200px;
    width: 200px;
    margin: 18px;
}
.coub div{
    z-index: 2;
}
.to_coub{
    margin-top: 60px;
    margin-bottom: 30px;
    height: 30px;
    width: 140px;
    background-color: #0000003a;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #000;
    font-family: RotisSansSerif;
}
.to_coub:hover{
    background-color: #000000a6;
}
.coub h2{
    font-size: 50px
}
.ip {
    position: fixed;
    right: 5px;
    bottom: 10px;
    display: block;
    z-index: 3;
    filter: invert();
}
    /* только для устройств с малым размером экрана */
    @media (max-width:686px) {
    .ip {
        right: 0px;
        max-width: 100%;
    }
}