html {overflow-x: hidden;}
@font-face {
	font-family: 'Gotham-Bold'; 
	src: url(fonts/14006.otf); 
}
@font-face {
	font-family: 'RotisSansSerif'; 
	src: url(fonts/RotisSansSerifW1G-Bold.otf); 
}
@font-face {
	font-family: 'Museo-500'; 
	src: url(fonts/museo-500.otf); 
}
@font-face {
	font-family: 'Museo-700'; 
	src: url(fonts/Museo700.otf); 
}
.header {
    padding-top: 20px;
    height: 112px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.slogan {
    font-family: 'Gotham-Bold';
    color: white;
    float: left;
    padding-top: 45px;
    text-align: right;
}
.slogan h6{
    font-family: 'RotisSansSerif';
}
h1,h6{
    margin: 5px;
}
.ad {
    font-family: 'Gotham-Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 86px;
    width: 726px;
    float: right;
}
.telo{
    margin-left: auto;
    margin-right: auto;
    height: 1330px;
    max-width: 1200px;
    background-color: white;
}
body {
    background-image: url(source/fon.jpg);
    background-repeat: no-repeat;
    background-color: #333333;
}
.panel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    height: 30px;
    width: 100%;
    background: linear-gradient(0deg, rgb(255, 240, 31), rgb(255, 185, 33));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.knopki {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.auth {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
bt1 {
    margin: 12px;
    font-size: 13px;
    font-weight: bold;
    transition: all 1s;
}
.knopki div, .auth div{
width: 1px;
height: 30px;
background-color: rgb(255, 115, 0);
}
bt1 a{
    color: #fff;
    text-decoration: none;
}
bt1:hover{
    margin: 16px;
    background-color: #000;
    transition: all 1s;
}
.steam{
    background-image: url( 'https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/items/991980/fb35c9934621215738372c5ae8689fe37ecd9d6d.jpg' );
}
.ramka{
    position: absolute;
}
.steam2{
    display: flex;
    position: relative;
    width: auto;
    background: linear-gradient(135deg, #33333390, #74254a70);
}
.steam2>img{
    padding: 20px;
}
h2 , h5{
    color: #fff;
    font-family: 'Gotham-Bold';
}
.to_steam{
    margin-top: 90px;
    height: 30px;
    width: 140px;
    background-color: #5c5c5c;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #000;
    font-family: RotisSansSerif;
}
.to_steam:hover{
    background-color: #808080;
}
.coub{
    position: relative;
    display: flex;
    width: auto;
    background-color: #333333;
    overflow: hidden;
    height: 270px;
    align-items: center;
}
.coub video{
    height: 675px;
    width: 1200px;
    position: absolute;
    top: -100px;
}
.coub img{
    z-index: 2;
    height: 200px;
    width: 200px;
    margin: 18px;
}
.coub div{
    z-index: 2;
}
.to_coub{
    margin-top: 60px;
    margin-bottom: 30px;
    height: 30px;
    width: 140px;
    background-color: #0000003a;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #000;
    font-family: RotisSansSerif;
}
.to_coub:hover{
    background-color: #000000a6;
}
.coub h2{
    font-size: 50px
}

@media (max-width:995px) {
    .telo{
        height: 2500px;
        display: flex;
        flex-direction: column;
    }
    .header{
        height: 170px;
        padding-top: 0;
    }
    .slogan {
        padding-top: 15px;
    }
}
    /* только для устройств с малым размером экрана */
    @media (max-width:686px) {
    .telo{
        height: 2730px;
    }
    .ad{
        max-width: 100%;
    }
    .knopki{
        flex-direction: column;
        height: 34px;
        overflow: hidden;
        transition: all 0.7s;
    }
    .knopki:hover{
        flex-direction: column;
        height: 220px;
        background-color: black;
        transform: translateY(96px);
        transition: all 0.7s;
    }
    bt1 {
        margin: 10px;
        transition: all 0.4s;
    }
    .knopki div{
        width: 50px;
        height: 1px;
        background-color: white;
    }
    bt1:hover{
        margin: 10px;
        background-color: blue;
        transition: all 1s;
    }
}